<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact us</title>
    <%- include('links'); %>
  </head>

  <body>
    <%- include('Header'); %>

    <section>
      <div class="overflow-hidden">
        <div class="container-fluid Custom_paddding_wesite m-0">
          <div class="pt-5 pb-5">
            <div class="row align-items-center pt-5 pb-5">
              <div class="col-md-6">
                <div class="font-size-contact-para">
                  <p class="font-size-contact">Paranormic Prints</p>
                  <p class="pt-4">(+91) 9650-212-887</p>
                  <p>(+91) 9650-212-887</p>
                  <p class="pt-4">prints@paranormicprints.com</p>
                  <p>contact@paranormicprints.com</p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="d-flex justify-content-center">
                  <div class="row" style="width: 100%">
                    <div class="col-md-12 mb-4">
                      <p class="font-size-contact pb-4">Contact us</p>
                      <textarea
                        class="form-control inputtypebordercolor"
                        placeholder="Message.."
                        rows="3"
                      ></textarea>
                    </div>
                    <div class="col-md-6 mb-4">
                      <input
                        type="search"
                        class="form-control inputtypebordercolor"
                        placeholder="your name.."
                      />
                    </div>
                    <div class="col-md-6 mb-4">
                      <input
                        type="email"
                        class="form-control inputtypebordercolor"
                        placeholder="type your email..."
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="d-flex align-items-center ml-4"
                  style="align-items: center"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="checkboxNoLabel"
                    value=""
                    aria-label="..."
                  />
                  <span
                    >Dictum varius duis at consectetur lorem donec massa
                    sapien</span
                  >
                </div>

                <div class="ml-4 pt-4">
                  <div class="see-more-prints-btn-box-explore-btn">
                    <span>Submit</span>
                  </div>
                </div>

                <div class="pt-4 mb-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('footer'); %> <%- include('scripts'); %>
  </body>
</html>
