<section>
    <div class="overflow-hidden">
        <div class="container-fluid p-0 m-0">

            <div class="row">
                <div class="col-md-3 line-border mb-0" id="border-right-setup">
                    <div class="image-box-setup">
                        <div class="pt-4 ml-4">
                            <div class="text-center mb-4  pt-4 font-size-page-normal">
                                <div class="footer-fix-box">
                                    <p class="font-size-page">PAGES</p>
                                    <a href="/aboutus">ABOUT US</a>
                                    <a href="/whoweare">WHO WE ARE</a>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 line-border mb-0" id="border-right-setup">
                    <div class="image-box-setup">
                        <div class="pt-4">
                            <div class="text-center mb-4  pt-4 font-size-page-normal">
                                <div class="footer-fix-box">
                                <p class="font-size-page">SHOP</p>
                                <a href="/cart">CART</a>
                                <a href="#">ANIME</a>
                                <a href="#">GAMING</a>
                                <a href="#">SUPER HERO</a>
                                <a href="#">CARTOONS</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 line-border mb-0" id="border-right-setup">
                    <div class="image-box-setup">
                        <div class="pt-4">
                            <div class="text-center mb-4  pt-4 font-size-page-normal">
                                <div class="footer-fix-box">
                                <p class="font-size-page">INFO</p>
                                <a href="/faq">FAQ</a>
                                <a href="/contactus">CONTACT US</a>
                                <a href="#">GET IN TOUCH</a>
                                <a href="#"  data-bs-toggle="modal" data-bs-target="#trackOrderModal">TRACK ORDER</a>
                                  <style>
                                    .modal-content {
                                      background-color: #fff;
                                      padding: 40px;
                                      text-align: center;
                                      border-radius: 8px;
                                      width: 100%;
                                    }

                                    .track-order-container {
                                      display: flex;
                                      justify-content: center;
                                      align-items: center;
                                      margin-top: 20px;
                                    }
                                
                                    .track-order-input {
                                      width: 70%;
                                      padding: 10px;
                                      border: 1px solid #000;
                                      border-right: none;
                                      border-radius: 4px 0 0 4px;
                                    }
                                
                                    .track-btn {
                                      background-color: #000;
                                      color: #fff;
                                      padding: 10px 20px;
                                      border: none;
                                      cursor: pointer;
                                      border-radius: 0 4px 4px 0;
                                      height: 46px;
                                      display: inline-flex;
                                      align-items: center;
                                      justify-content: center;
                                    }
                                
                                    .track-btn:hover {
                                      background-color: #444;
                                    }
                                
                                    .modal-header {
                                      border-bottom: none;
                                    }
                                
                                    .modal-footer {
                                      border-top: none;
                                    }
                                
                                    .track-description {
                                      margin-top: 10px;
                                      color: #888;
                                    }
                                  </style>
                            
                       
                                
                             
                    
                                
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
.col-md-2.Instagramhover:hover {
    background: linear-gradient(45deg, #fdf497, #fdf497, #fd5949, #d6249f, #285AEB);
}
.col-md-2.Instagramhover:hover a {
    color: white;
    text-decoration: none;
}

.col-md-2.Facebookhover:hover {
    background-color: #1877F2;
    cursor: pointer;
}
.col-md-2.Facebookhover:hover a {
    color: white; 
    text-decoration: none;
}

/* Behance hover effect */
.col-md-2.Behancehover:hover {
    background-color:#131418; 
}
.col-md-2.Behancehover:hover a {
    color: white; 
    text-decoration: none;
}

/* Dribbble hover effect */
.col-md-2.Dribbblehover:hover {
    background-color:#ea4c89;
    cursor: pointer;
}
.col-md-2.Dribbblehover:hover a {
    color: white; 
    text-decoration: none;
}

/* Pinterest hover effect */
.col-md-2.Pinteresthover:hover {
    background-color: #E60023;


}
.col-md-2.Pinteresthover:hover a {
    color: white; 
    text-decoration: none;
}

/* Reddit hover effect */
.col-md-2.reddithover:hover {
    background-color:	#FF5700; 
}
.col-md-2.reddithover:hover a {
    color: white; 
    text-decoration: none;
}

</style>
    
<section>
    <div class="overflow-hidden">
        <div class="container-fluid p-0 m-0">
            <div class="row" id="card">
                <div class="col-md-2 line-border mb-0 Instagramhover" id="border-right-setup">
                    <div class="pt-4 pb-4">
                        <div class="pt-4 pb-4 ml-4 mr-4 text-center">
                            <a href="#" class="font-size-page">Instagram</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 line-border mb-0 Facebookhover" id="border-right-setup">
                    <div class="pt-4 pb-4">
                        <div class="pt-4 pb-4 ml-4 mr-4 text-center">
                            <a href="#" class="font-size-page">Facebook</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 line-border mb-0 Behancehover" id="border-right-setup">
                    <div class="pt-4 pb-4">
                        <div class="pt-4 pb-4 ml-4 mr-4 text-center">
                            <a href="#" class="font-size-page">Behance</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 line-border mb-0 Dribbblehover" id="border-right-setup">
                    <div class="pt-4 pb-4">
                        <div class="pt-4 pb-4 ml-4 mr-4 text-center">
                            <a href="#" class="font-size-page">Dribbble</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 line-border mb-0 Pinteresthover" id="border-right-setup">
                    <div class="pt-4 pb-4">
                        <div class="pt-4 pb-4 ml-4 mr-4 text-center">
                            <a href="#" class="font-size-page">Pinterest</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 line-border mb-0 reddithover" id="border-right-setup">
                    <div class="pt-4 pb-4">
                        <div class="pt-4 pb-4 ml-4 mr-4 text-center">
                            <a href="#" class="font-size-page">Reddit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-border"></div>
            <div class="pb-4">
                <div class="text-center pt-4">
                    <span class="font-size-l">Copyright © paranormic prints 2024-2025. All Rights Reserved</span>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-md-12">
    <div class="modal fade" id="trackOrderModal" tabindex="-1" aria-labelledby="trackOrderModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg "> 
          <div class="modal-content">
            <div class="modal-header">
              <span class="modal-title font_size_card_title text-center id="trackOrderModalLabel>Enter the Way Bill / Tracking No.</span>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="track-order-container">
                <input type="text" class="track-order-input" placeholder="Enter bill/id" />
                <button class="track-btn">Track</button>
              </div>
            </div>
            <div class="track-description">Details of the location of your package will be sent on the email id provided.</div>
          </div>
        </div>
      </div>
</div>
